<!DOCTYPE html>
<html>
<head>
	<title>VueJs</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="vue.js"></script>
</head>
<body>
	<div id="app" style="padding: 50px">
		<h1 v-bind:title="date">{{title | capitalize}}</h1>
		<h2>{{msg}}</h2>
		<p>{{date}}</p>
		<span v-if="seen">new see me</span>
		<ol>
			<li v-for="todo in todoes">
				{{todo.text}}
			</li>
		</ol>
		<button v-on:click="reverseMessage">Reverse the title</button>
		<br><br>
		<input v-model = "msg">
	</div>
	<hr>
<!-- ===================next section ============================== -->
<div id="app2" style="text-align: center;">
	<h2>{{ title }}</h2>
	<p></p>

</div>



	<script>
		var app = new Vue({
			el: "#app",
			data: {
				title: 'This is my first app in VueJs',
				msg: "sample message",
				date: new Date().toLocaleString(),
				seen: true,
				todoes: [
					{text: 'learn JS'},
					{text: 'learn CSS'},
					{text: 'learn HTML'}
				]
			},
			methods: {
					reverseMessage: function() {
						this.title = this.title.split('').reverse().join('')
					}
				}
		});

		new Vue({
			el: '#app2',
			data: {
				title: "Welcome to VueJs!",
				link: "google.com"
			},
			methods: {
				say: function(){
					
				}
			}
		});

	</script>
</body>
</html>